<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">

    <title>@ViewBag.Title - ASP.NET MVC Application with MongoDB</title>


    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/css/template")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="fix-header fix-sidebar">
    
    <!-- Main wrapper  -->
    <div class="main-wrapper">

        @Html.Partial("_LoginPartial")

        @RenderBody()        
    </div>

    @Scripts.Render("~/bundles/js/template")
    @RenderSection("scripts", required: false)
</body>
</html>
