@model MongoDB.DotNet.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Register";
}

<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-content card">
                    <div class="login-form">

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <h4>Registrar</h4>

                            if(ViewBag.HasErrors != null && ViewBag.HasErrors)
                            {
                                @Html.ValidationSummary("", new { @class = "text-danger alert alert-danger alert-dismissible fade show" })
                            }

                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Aceitar os termos e política
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Registrar</button>
                            <div class="register-link m-t-15 text-center">
                                <p>Já tem uma conta ? @Html.ActionLink("Sign in", "Login", "Account")</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/template")
}
